.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.friendshipButton {
  height: 40px;
}

.content {
  min-height: 400px;
}

.content :global(.Profile .name) {
  margin-left: 10px;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.3149999976158142px;
  text-align: left;
}
