.page {
  background-image: url(../../assets/images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: fixed;
  top: 0px;
  width: 100%;
}

.content {
  padding: 0 24px;
  flex-grow: 1;
}

.navbar {
  flex-shrink: 0;
}

/* Mobile styles */
.contentMobile {
  padding: 0;
}

.pageMobile {
  background-size: 100% 480px;
  background-color: black;
  background-position: initial;
  position: unset;
}