.page {
  background-image: url(../../assets/images/background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: fixed;
  top: 0px;
  width: 100%;
}

.content {
  padding: 0 24px;
  flex-grow: 1;
}

.navbar {
  flex-shrink: 0;
}

@media (max-width: 991px) {
  .content {
    padding: 0;
  }

  .page {
    background-size: 100% 480px;
    background-color: black;
    background-position: initial;
    position: unset;
    background-image: url(../../assets/images/background-tablet.webp);
  }
}

@media (max-width: 767px) {
  .page {
    background-image: url(../../assets/images/background-mobile.webp);
  }
}