:global(#root) {
  height: 100%;
  width: 100%;
}

.MainPage {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
  height: 100%;
  padding: 30px;
}

.infoContainer {
  backdrop-filter: blur(20px);
  background: linear-gradient(151deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.06) 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px;
  min-height: 80vh;
}

.tab {
  color: var(--text);
  font-weight: 700;
}

.tabTitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.fullPage {
  height: 60vh;
}

.avatarContainer {
  position: relative;
  width: 15%;
  min-width: 260px;
}

/* Mobile styles */

.MainPageMobile {
  align-items: center;
  flex-direction: column;
  padding: unset;
}

.infoContainerMobile {
  backdrop-filter: unset;
  background: unset;
  box-shadow: unset;
  border: unset;
  width: 100%;
  padding: 16px;
}

.divider {
  margin-bottom: 12px;
}

.avatarContainerMobile {
  position: static;
}