.ProfileInformation {
  color: var(--text);
  gap: 36px;
  display: flex;
  width: 100%;
}

.avatarInformation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatarTopContent {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
}

.avatarInformationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.avatarInformationGap {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.actions .buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 13px;
  height: 34px;
}

.actions .links {
  display: flex;
  align-self: end;
  column-gap: 16px;
}

.basicRow {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.basicCenteredRow {
  align-items: center;
  display: flex;
}

.description {
  font-size: 12px;
}

.userName {
  color: var(--text);
  font-size: 24px;
  font-weight: 700;
}

.userNumber {
  font-size: 18px;
  text-wrap: nowrap;
}

.profileData {
  gap: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wallet {
  align-items: center;
  display: flex;
  gap: 4px;
  height: 24px;
}

.walletIcon {
  height: 24px;
  width: 24px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyLink:global(.ui.button.basic),
.viewMore:global(.ui.button.basic) {
  padding: unset;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.smallButton:global(.ui.button) {
  height: 34px;
  min-width: 34px;
  max-width: 34px;
  justify-content: center;
  padding: 0px 0px 0px 9px;
}

.shareButton:global(.ui.button) {
  padding: unset;
  display: flex;
  align-items: center;
}

.fluidButton:global(.ui.button) {
  padding-bottom: unset;
  padding-top: unset;
}

.dropdownMenuIcon:global(.ui.dropdown .menu > .item > img) {
  margin: unset;
  stroke: white;
  height: 20px;
  width: 20px;
}

.Profile.inline .dcl.blockie {
  width: 100px;
}

.column {
  gap: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.copied {
  background-color: var(--card);
  border-radius: 10px;
  padding: 10px;
}

.copiedLink {
  position: fixed;
  background-color: var(--card);
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
  top: 70px;
  right: 63px;
}

.ProfileInformation .blockedButton {
  display: flex;
  align-items: center;
  line-height: initial;
  color: var(--text);
}

.displayContents {
  display: contents;
}

.friendsButton {
  min-width: 230px !important;
}

@media (max-width: 991px) {
  .ProfileInformation :global(.Profile.massive.inline .dcl.avatar-face) {
    width: 100px !important;
    height: 100px !important;
    border: 2px solid #43404a;
  }

  .ProfileInformation {
    margin-top: -50px;
    flex-direction: column;
    gap: 12px;
  }

  .mobileTopContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .actions .buttons {
    column-gap: 6px;
  }

  .basicRow {
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }

  .column {
    flex-direction: column-reverse;
    display: flex;
    gap: 8px;
  }

  .copiedLink {
    position: static;
    padding: 8px;
  }

  .friendsButton {
    min-width: unset !important;
  }

  .description {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
  }

  .avatarInformationGap {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .friendsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

:global(.ui.dropdown) :global(.menu > .item).copyItem {
  display: flex;
  align-items: center;
}

:global(.ui.dropdown) :global(.menu > .item).copyItem>svg {
  margin-right: 11px;
}

.userNameLastPart {
  color: var(--light-gray);
}