.ProfileInformation {
  color: var(--text);
  gap: 36px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  row-gap: 75px;
}

.actions .buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 13px;
  height: 34px;
}

.actions .links {
  display: flex;
  align-self: end;
  column-gap: 16px;
}

.basicRow {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.basicCenteredRow {
  align-items: center;
  display: flex;
}

.description {
  margin-top: 8px;
  font-size: 12px;
}

.userName {
  color: var(--text);
  font-size: 24px;
  font-weight: 700;
}

.userNumber {
  font-size: 18px;
}

.profileData {
  gap: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wallet {
  align-items: center;
  display: flex;
  gap: 4px;
  height: 24px;
}

.walletIcon {
  height: 24px;
  width: 24px;
}

.copyLink:global(.ui.button.basic),
.viewMore:global(.ui.button.basic) {
  padding: unset;
}

.smallButton:global(.ui.inverted.button) {
  align-items: center;
  height: 34px;
  min-width: 34px;
  max-width: 34px;
  justify-content: center;
  padding: 0px 0px 0px 9px;
}

.smallButton:global(.ui.primary.button) {
  align-items: center;
  display: flex;
  height: 34px;
  min-width: 34px;
  max-width: 34px;
  justify-content: center;
  padding: unset;
}

.fluidButton:global(.ui.primary.button) {
  padding-bottom: unset;
  padding-top: unset;
}

.dropdownMenuIcon:global(.ui.dropdown .menu > .item > img) {
  margin: unset;
  stroke: white;
  height: 20px;
  width: 20px;
}

.Profile.inline .dcl.blockie {
  width: 100px;
}

.column {
  gap: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;

}

/* Mobile styles */

.ProfileInformation .blockedButton {
  display: flex;
  align-items: center;
  line-height: initial;
  color: var(--text);
}

.displayContents {
  display: contents;
}

.ProfileInformationMobile {
  margin-top: -50px;

}

.basicColumn {
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.actionsMobile {
  position: absolute;
  right: 16px;
  top: 470px;
}

.reverseColumnInformation {
  flex-direction: column-reverse;
  display: flex;
  gap: 8px;
}

.actions .buttonsMobile {
  column-gap: 6px;
}

@media (max-width: 991px) {
  .ProfileInformation :global(.Profile.massive.inline .dcl.avatar-face) {
    width: 100px !important;
    height: 100px !important;
  }  
}
