.button > img {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.mobileButton:global(.ui.button) {
  min-width: unset;
}

.mobileButton {
  width: 128px;
  padding: 11px !important;
}

@media (max-width: 991px) {
  .button > img {
    margin-right: 2px;
  }
}
