.container:global(.ui.modal) {
  padding: 30px;
  padding-top: 60px;
  display: flex !important;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.info {
  font-size: 16px;
}

.container :global(.Profile .dcl.blockie),
.container :global(.Profile .dcl.avatar-face) {
  width: 100px;
  height: 100px;
  border: 8px solid var(--modal);
}

.container :global(.Profile.blockie),
.container :global(.Profile.avatar) {
  position: absolute;
  top: -50px;
}
