.facts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 84px;
  row-gap: 48px;
  margin-top: 48px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  row-gap: 8px;
}

.links .label {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-transform: uppercase;
  display: flex;
  column-gap: 2px;
}

.links .values {
  display: flex;
  column-gap: 32px;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1200px) {
  .modal:global(.ui.modal) {
    width: auto;
  }

  .content {
    min-width: 800px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .facts {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
  }

  .links .values {
    row-gap: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .facts {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 48px;
  }

  .links .values {
    flex-direction: column;
    align-items: start;
    row-gap: 18px;
  }
}