.Overview {
    display: grid;
    grid-gap: 12px;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-bottom: 12px;
}

:global(.AssetCard.ui.card) {
    flex: 1;
    border: none;
    margin: unset;
}


:global(.AssetImage) {
    width: 100%;
}