@media (max-width: 991px) {
  .signIn {
    height: 100%;
  }

  .signIn :global(.SignIn.center) {
    position: unset;
  }

  .signIn :global(.SignIn.center .message) {
    color: var(--text);
  }
}
