.Avatar {
  display: flex;
  flex-direction: column;
  width: inherit;
  min-width: 260px;
  height: 80vh;
  align-items: center;
  position: fixed;
  top: 10vh;
}

.noProfile iframe {
  filter: blur(8px) brightness(0%);
}

.loading {
  justify-content: center;
}

.loaderOverlay {
  position: absolute;
  margin: auto;
}

.noProfile .message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 6px 14px 6px 14px;
  text-align: center;
  background-color: black;
  width: 100%;
  border-radius: 24px;
}

.wearablePreview {
  width: 60vw;
  height: 100%;
  position: relative;
}

.editButton>img {
  margin-right: 5px;
}


@media (max-width: 991px) {
  .Avatar {
    height: 399px;
    width: unset;
    position: static;
  }

  .editButton {
    position: absolute;
    right: 20px;
    top: 379px;
    min-width: unset !important;
    width: unset !important;
    padding: 10px !important;
  }

  .editButton>img {
    margin-right: unset;
  }
}