.Avatar {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 15%;
  align-items: center;
}

.loading { 
  justify-content: center;
}

.loaderOverlay {
  position: absolute;
  margin: auto;
}

.noProfile {
  height: 90%;
  width: 100%;
  min-width: 260px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../../assets/images/DefaultMan.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.noProfile .message {
  padding: 6px 14px 6px 14px;
  background-color: black;
  border-radius: 24px;
}